<div class="pure-u-1">
  <div id="contact_form">
    <%= form_for @message, url: {controller: "messages", action: "create"}, method: "post", :remote => true do |f| %>
      <div class="field">
        <%= f.label :name %>
        <% if @message.errors[:name] %>
          <span class="contact_form_error">
            <%= @message.errors[:name].to_sentence.downcase.capitalize %>
          </span>
        <% end %>
        <br/>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <% if @message.errors[:email] %>
          <span class="contact_form_error">
            <%= @message.errors[:email].to_sentence.downcase.capitalize %>
          </span>
        <% end %>
        <br/>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :subject %>
        <% if @message.errors[:subject] %>
          <span class="contact_form_error">
            <%= @message.errors[:subject].to_sentence.downcase.capitalize %>
          </span>
        <% end %>
        <br/>
        <%= f.text_field :subject %>
      </div>
      <div class="field">
        <%= f.label :content, "Message" %>
        <% if @message.errors[:content] %>
          <span class="contact_form_error">
            <%= @message.errors[:content].to_sentence.downcase.capitalize %>
          </span>
        <% end %>
        <br/>
        <%= f.text_area :content %>
      </div>
      <div class="actions">
        <%= f.submit "SEND", :id => "contact_form_submit_button" %>
      </div>
    <% end %>
  </div>
</div>
