<% case @page&.title %>
<% when 'News' %>
  <%= render partial: 'news', locals: { page: @page } %>
<% when 'Contact' %>
  <%= render partial: 'contact', locals: { page: @page } %>
<% else %>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <h1><%= @page&.title %></h1>

      <% @page&.sections&.order(:position).each do |section| %>
        <% case section.kind %>
        <% when 'Photo' %>
          <p><%= image_tag(section.photos[0].image.url(:medium)) %></p>
        <% when 'Snippet' %>
          <p><%= section.content.html_safe %></p>
        <% when 'Text' %>
          <p><%= section.content %></p>
        <% end %>
      <% end %>

      <script>
        <% ad_removal_script = "$('li.juicer-ad').css('cssText', 'display: none !important;'); $('h1.referral').css('cssText', 'display: none !important;')" %>
        setTimeout(function(){ <%= ad_removal_script.html_safe %> }, 300);
      </script>
    </div>
  </div>
<% end %>
