<!DOCTYPE html>
<html>
  <head>
    <title><%= @site&.title || 'Artist Baseline' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <% unless @theme.nil? %>
      <%= render 'layouts/site_theme', theme: @theme %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
